<section class="full-vh-notitle scroll">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Key</th>
                <th scope="col">Value</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Lorem ipsum dolor sit amet.</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, quia?</td>
                <td>edit</td>
            </tr>
            <tr>
                <td>3</td>
                <td>"2"</td>
                <td>5</td>
            </tr>
            <tr>
                <td>3</td>
                <td>"2"</td>
                <td>5</td>
            </tr>
            <tr>
                <td>3</td>
                <td>"2"</td>
                <td>5</td>
            </tr>
            <tr>
                <td>3</td>
                <td>"2"</td>
                <td>5</td>
            </tr>
            <tr>
                <td>3</td>
                <td>"2"</td>
                <td>5</td>
            </tr>
            <tr>
                <td>3</td>
                <td>"2"</td>
                <td>5</td>
            </tr>
            <tr>
                <td>3</td>
                <td>"2"</td>
                <td>5</td>
            </tr>
            <tr>
                <td>3</td>
                <td>"2"</td>
                <td>5</td>
            </tr>
            <tr>
                <td>3</td>
                <td>"2"</td>
                <td>5</td>
            </tr>
            <tr>
                <td>3</td>
                <td>"2"</td>
                <td>5</td>
            </tr>
        </tbody>
    </table>
</section>