<section class="full-vh-notitle scroll">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Key</th>
                <th scope="col">Value</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of tableData; let i = index">
                <td>{{i}} {{data.key}}</td>
                <td>{{i}} {{data.value}}</td>
                <td>
                    <button>Edit</button>
                    <button>Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</section>