<section class="left-main-column">
    <!-- Tabs -->
    <section class="title">
        <div class="" *ngIf="projectList">
            <select [(ngModel)]="selected" (change)="onChange($event)">
                <option *ngFor="let item of projectList" [value]="item">
                    {{item}}
                </option>
            </select>
        </div>
    </section>
    <!-- END Tabs -->
    <!-- Lists -->
    <section class="full-vh list scroll">
        <ol #list></ol>
    </section>
    <!-- END Lists -->
</section>